<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <% if (!locals.user) { %>
          <a href="/sign-in">Sign in</a>
          <a href="/sign-up">Sign up</a>
        <% } else { %>
          <p>
            Hello <%= locals.user.firstName %> <%= locals.user.lastName %> !
          </p>
          <div>
            <h2>Membership status</h2>
            <p>
              <% if (locals.user.isAdmin) { %>
                Administrator
              <% } else if (locals.user.isClubMember) { %>
                Club Member
              <% } else { %>
                User   
              <% } %>
            </p>
          </div>
          <a href="/messages/new">New message</a>
          <a href="/sign-out">Sign out</a>
          <% if (!locals.user.isClubMember) { %>
            <p>Join the exclusive member club !</p>
            <a href="/join-club">Join the club</a>
          <% } %>
        <% } %>
    </body>
</html>
