<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <a href="/">Home</a>
        <h1><%= title %></h1>
        <div>
            <% if (user.isClubMember) { %>
                <p>You are already a member of the club !</p>
            <% } else { %>
                <p>Enter the invite code to join the club !</p>
                <form action="/join-club" method="post">
                    <div>
                        <label for="club-invite-code">Invite code</label>
                        <input
                            type="password"
                            name="clubInviteCode"
                            id="club-invite-code"
                            required
                        />
                    </div>
    
                    <% if (errors) { %>
                        <div>
                            <% for( let i = 0; i < errors.length; i++ ) { %>
                                <p><%= errors[i] %></p>
                            <% } %>
                        </div>
                    <% } %>
                    <button type="submit">Join club</button>
            <% } %>
        </div>
    </body>
</html>
